{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", 
    "syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    // "syntax-dynamic-import"
  ]
}